<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>방명록</title>
</head>
<body>
	<form action="" method="post">
		<%
	for(let i = 0; i < list.length; i++) {
		const vo = list[i];
	%>
	<table border=1 width=500>
		<tr>
			<td>이름</td><td><input type="text" name="name"></td>
			<td>비밀번호</td><td><input type="password" name="password"></td>
		</tr>
		<tr>
			<td colspan=4><textarea name="message" cols=60 rows=5></textarea></td>
		</tr>
		<tr>
			<td colspan=4 align=right><input type="submit" VALUE=" 확인 "></td>
		</tr>
	</table>
	<%
		}
	%>
	</form>
	<br>
	<table width=510 border=1>
		<tr>
			<td>[1]</td>
			<td><%=name %></td>
			<td>2<%=vo.regDate %></td>
			<td><a href="/delete">삭제</a></td>
		</tr>
		<tr>
			<td colspan=4><%=vo.message %></td>
		</tr>
	</table>
</body>
</html>