<div id="navigation">
    <ul>
        <li><a href="/">여민지</a></li>
        <li><a href="/guestbook">방명록</a></li>
        <li><a href="/guestbook/api">방명록[SPA]</a></li>
        <li><a href="/board">게시판</a></li>
        <li><a href="/gallery">갤러리 </a></li>
    </ul>
</div>